@charset "UTF-8";

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.container-fluid {
    margin: 0 auto;
    max-width: 960px;
}

#reserve-cancel {
    cursor: pointer;
    color: #0d6efd;
    text-decoration: underline;
}

h1, h2 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
}

p {
    margin-bottom: 0.3rem;
}

.bg-light-admin {
    background-color: #dcdcdc;
}

.table-condensed td[scope="col"] {
    word-break: keep-all;
}

.table-condensed td {
    padding-bottom: 1rem;
    max-width: 150px;
    word-break: break-all;
}

.table-condensed th.detail-head {
    width: 200px;
}

.news-file-clear {
    border: 1px solid #ced4da;
}

.confirm-btn {
    display: block;
    margin: 50px auto 0px;
}

.form-control.is-invalid{
    background-image:none;
}

/* PHPで動的に制御 */
.error-msg {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

/* CKEditorのテキストエリアのスタイル */
#cke_detail-text {
    border-radius: 0.25rem;
    border-color: #ced4da;
}

#cke_detail-text.error {
    border-color: #dc3545;
}

.img-box {
    max-width: 250px;
}

/* .table-wrap {
    min-height: 540px;
} */

.table-wrap.reserv-case {
    max-width: 400px;
}

a.pdf-link {
    word-break: break-all;
}

.text-bd {
    padding: 1rem;
    border: solid #dee2e6;
    border-width: thin;
    border-radius: 0.25rem;
}

.t-status {
    max-width: 180px;
    margin: 0 0 0 auto;
}

.t-status button {
    width: 66px;
}

.t-content {
    border: none;
}

.t-list-search {
    max-width: 500px;
    margin: 0 0 0 auto;
}

@media screen and (min-width: 640px) {
    .entry-form {
        margin: 0 auto 100px;
        width:50%;
    }

    .rent-info {
        margin: 50px auto 0px;
        width:50%;
    }
    /* .entry-form.confirm {
        margin: 0 auto;
        width:80%;
    } */
}